::-webkit-scrollbar {
  display: none;
  




}








*{
  margin: 0px;


}


body{

  background-image: url("https://images.pushsquare.com/35dc0becfde2e/ps5-playstation-5-stock-guide-1.900x.jpg");


  background-size: 100% 100vh;
}

